section.centered__form
  .centered__form-wrapper
    include flash-message
    form.form(method="POST" action="/login")
      .form__field
        h3 Вход
      .form__field
        input#login.form__control(type='text', name='username', placeholder='Имя' tabindex='1')
      .form__field
        input#password.form__control(type='password', name='password', placeholder='Пароль' tabindex='2')
      button#btn.sign__btn(type='submit') Войти
