.parallax__wrapper
  .parallax.parallax__first
    .parallax__first-bcg
      h1.parallax__second-title Подол
  .parallax.parallax__second
    .parallax__first-bcg
      h1.parallax__second-title Шатиловка
  .parallax.parallax__third
    .parallax__first-bcg
      h1.parallax__third-title Центр
  .parallax.parallax__fourth
    .parallax__first-bcg
      h1.parallax__fourth-title ул. Рымарская
