-const author = 'Julia M. aka gatta_bianka';
-const authorLink = 'https://gatta-bianka.livejournal.com/';
main.main__area
  h2.author__title Автор:
    a.author__link(href= authorLink target='_blank')= author
  section.main__cards
