footer.footer
  p.footer__copyright Сайт создан &thinsp;
    a.footer__link(href="https://github.com/konstantindergachev" target="_blank") Константином Дергачевым
    | &thinsp; для портфолио.
    | Харьков, Украина. Copyright &copy; #{new Date().toISOString().split('-')[0]}г.
