extends layout

block content
  include layout/header
  include components/menu
  .table__wrapper
    include pages/admin-page
  include layout/footer
  include components/js-admin
  include components/js-mobile-menu
