extends layout

block content
  include layout/header
  include components/menu
  .parallax
      include pages/cards
  include layout/footer
  include components/js-interesting
  include components/js-mobile-menu
