extends layout

block content
  include layout/header
  include components/menu
  .parallax
    include pages/map-page
  include layout/footer
  include components/js-map
  include components/js-mobile-menu
