extends layout

block content
  include layout/header
  include components/menu
  .parallax__registration
    include pages/reg-page
  include layout/footer
  include components/js-registration
  include components/js-mobile-menu
