extends layout

block content
  include layout/header
  include components/menu
  .table__wrapper
    include pages/streets
  include layout/footer
  include components/js-toponymy
  include components/js-mobile-menu
